=render 'nav'

.alert.alert-success.fade.in.text-center.hidden
  %button.close{"data-dismiss" => "alert", type: "button"}=raw "&times;"
  %span

= react_component("MenuApp", props: {items: @items, orders: @orders_hash, total_sales: format_price(@total_sales)}, prerender: false)

- if !@orders.blank?
  = paginate @orders


