
body {
  padding: 70px;
}

.navbar {
  a.navbar-brand {
    padding: 0 16px;
    img {
      width: 48px;
      height: 48px;
    }
  }
  li{
    font-size: 20px;
  }
}

#order-data {
  padding: 8px 0;
  .table{
    margin: 0;
  }
}

.panel-heading{
  font-size: 20px;
  .loading-icon img{
    width: 20px;
    height: 20px;
  }
  .fa-refresh{
    margin-top: 5px;
    cursor: pointer;
  }
}

.dropdown-toggle {
  width: 158px;
  .fa {
    float: left;
    margin-top: 3px;
  }
  .caret {
    float: right;
    margin-top: 8px;
  }
}

ul.pagination{
  float: right;
  margin: 0;
}

.popover-content{
  color: #646464;
  padding: 6px 12px;
  font-size: 13px;
  line-height: normal;
}
