%html
  %head
    = render '/layouts/head'
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css", :rel => "stylesheet"}
  %body
    #main.container
      = yield
    = javascript_include_tag 'application'
